{% extends 'main/base2.html' %}
{% load static %}
{% block content %}


    <!-- main-content -->
    <div class="main-content spacing-20" style="display: flex; align-items: center; justify-content: center; min-height: 100vh;">

        

        <div class="layout-wrap-inner" style="display: flex; align-items: center; justify-content: center; width: 100%; ">


            <!-- section-content-right -->
            <div class="section-content col-12" style="text-align: center; max-width: 600px;">">
                <h3>Create Account</h3>
                <div class="text-content mb-20">Enter Credentials to sign up!</div>
                 {% if messages %}
            {% for message in messages %}
            <div class="message-boxes-item type-error mb-20">
                                            <div class="text">{{ message }}</div>
                                            <i class="icon-close"></i>
                                        </div>  
                
            {% endfor %}
        {% endif %}

                <div class="wg-box pl-44 mb-20">
                    
                    <div class="my-profiles-wrap">
                        <form class="form-profiles flex gap30 flex-column" method="post">
                            {% csrf_token %}
                            <div class="cols">
                                <fieldset class="email has-top-title">
                                    <input type="text" placeholder="e.g John" class="" name="first_name" tabindex="2"  aria-required="true" required="">
                                    <label for="">First Name</label>
                                </fieldset>
                                <fieldset class="email has-top-title">
                                    <input type="text" placeholder="e.g Doe" class="" name="last_name" tabindex="2"  aria-required="true" required="">
                                    <label for="">Last Name</label>
                                </fieldset>
                            </div>
                            <div class="cols">
                                <fieldset class="email has-top-title">
                                    <input type="email" placeholder="e.g john@gmail.com" class="" name="username" tabindex="2"  aria-required="true" required="">
                                    <label for="">Email</label>
                                </fieldset>
                            </div>
                            <div class="cols">
                                <fieldset class="email has-top-title">
                                    <input type="password" placeholder="Password" class="" name="password1" tabindex="2"  aria-required="true" required="">
                                    <label for="">Password</label>
                                </fieldset>
                            </div>
                            <div class="cols">
                                <fieldset class="email has-top-title">
                                    <input type="password" placeholder="Password" class="" name="password2" tabindex="2"  aria-required="true" required="">
                                    <label for="">Confirm Password</label>
                                </fieldset>
                            </div>
                            <div class="button-submit mt-10 flex items-center justify-between">
                                <button class="tf-button-primary" type="submit">Proceed<i class="icon-arrow-right-add"></i></button>
                                
                            </div>
                        </form>

                    </div>
                </div>

                <div class="bottom-page">
                    <p>already have an account <a href="{% url 'main:sign_up' %}" >Sign In</a></p>
                </div>
            </div>
            <!-- /section-content-right -->

        </div>

    </div>
    <!-- /main-content -->

{% endblock %}
